#home-section{
    padding-top:5rem;
    height: 70vh;
    margin-top:4rem;
    background-image: linear-gradient($color-dark-overlay, $color-dark-overlay), url("../img/home.jpg");
    background-size:cover;
    background-position: center;

    .fa{
        font-size:0.8rem;
        color:$primary-color;
        padding:0.2rem;
        background-color:#fff;
    }
}