#home-section{
    padding-top:5rem;
    height: 70vh;
    margin-top:4rem;
    background-image: linear-gradient($color-dark-overlay, $color-dark-overlay), url("../img/home.jpg");
    background-size:cover;
    background-position: center;

    .fa{
        @include fa-icon;
        color:$primary-color;
        background-color:#fff;
    }
}

.section-explore-connect{
    .fa{
        @include fa-icon;
        color:#fff;
        background-color:#333;
    }
}

.section-create-passion{
    .fa{
        @include fa-icon;
        color:$primary-color;
        background-color:#fff;
    }
}